webservice/WebContent/wsdl/AnimalTypeService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservice" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservice" xmlns:intf="http://webservice" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webservice" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="animalType">
    <complexType>
     <sequence>
      <element name="animal" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="animalTypeResponse">
    <complexType>
     <sequence>
      <element name="animalTypeReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="animalTypeRequest">

      <wsdl:part element="impl:animalType" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="animalTypeResponse">

      <wsdl:part element="impl:animalTypeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="AnimalTypeService">

      <wsdl:operation name="animalType">

         <wsdl:input message="impl:animalTypeRequest" name="animalTypeRequest">

       </wsdl:input>

         <wsdl:output message="impl:animalTypeResponse" name="animalTypeResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="AnimalTypeServiceSoapBinding" type="impl:AnimalTypeService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="animalType">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="animalTypeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="animalTypeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AnimalTypeServiceService">

      <wsdl:port binding="impl:AnimalTypeServiceSoapBinding" name="AnimalTypeService">

         <wsdlsoap:address location="http://localhost:8081/webservice/services/AnimalTypeService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
