webservice/WebContent/wsdl/factorialservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservice" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservice" xmlns:intf="http://webservice" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webservice" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="fact">
    <complexType>
     <sequence>
      <element name="numm" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="factResponse">
    <complexType>
     <sequence>
      <element name="factReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="factResponse">

      <wsdl:part element="impl:factResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="factRequest">

      <wsdl:part element="impl:fact" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="factorialservice">

      <wsdl:operation name="fact">

         <wsdl:input message="impl:factRequest" name="factRequest">

       </wsdl:input>

         <wsdl:output message="impl:factResponse" name="factResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="factorialserviceSoapBinding" type="impl:factorialservice">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="fact">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="factRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="factResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="factorialserviceService">

      <wsdl:port binding="impl:factorialserviceSoapBinding" name="factorialservice">

         <wsdlsoap:address location="http://localhost:8081/webservice/services/factorialservice"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
